make-scenarios/blueprints/04-google-campaign-type-daily.blueprint.json
{
  "name": "04 - Google Ads Campaign Type Daily → makcom_ads",
  "flow": [
    {
      "id": 1,
      "module": "util:SetVariables",
      "version": 1,
      "parameters": {},
      "mapper": {
        "variables": [
          {
            "name": "yesterday",
            "value": "{{formatDate(addDays(now; -1); \"YYYY-MM-DD\")}}"
          },
          {
            "name": "gaql_query",
            "value": "SELECT segments.date, campaign.advertising_channel_type, metrics.clicks, metrics.cost_micros, metrics.conversions, metrics.conversions_value FROM campaign WHERE segments.date = '{{formatDate(addDays(now; -1); \"YYYY-MM-DD\")}}' AND campaign.status != 'REMOVED'"
          }
        ],
        "scope": "roundtrip"
      },
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {},
        "expect": [
          {
            "name": "variables",
            "type": "array",
            "label": "Variables",
            "spec": [
              { "name": "name", "type": "text" },
              { "name": "value", "type": "any" }
            ]
          },
          { "name": "scope", "type": "select" }
        ]
      }
    },
    {
      "id": 2,
      "module": "datastore:GetRecord",
      "version": 1,
      "parameters": { "datastore": null },
      "mapper": { "key": "config" },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "note": "Same data store as scenarios 1-3. Record `config`: tenant_id, make_secret, api_base, google_customer_id, google_login_customer_id."
      }
    },
    {
      "id": 99,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": { "handleErrors": false, "useNewZLibDeCompress": true },
      "mapper": {
        "url": "{{2.api_base}}/api/insights/google/campaign-type",
        "method": "post",
        "serializeUrl": false,
        "shareCookies": false,
        "ca": "",
        "qs": [],
        "bodyType": "raw",
        "parseResponse": true,
        "authUser": "",
        "authPass": "",
        "timeout": "60",
        "headers": [
          { "name": "X-Make-Secret", "value": "{{2.make_secret}}" },
          { "name": "Content-Type", "value": "application/json" }
        ],
        "contentType": "application/json",
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "data": "{\n  \"tenant_id\": \"{{2.tenant_id}}\",\n  \"rows\": {{REPLACE_WITH_ARRAY_AGGREGATOR_OUTPUT}}\n}",
        "followAllRedirects": false
      },
      "metadata": {
        "designer": { "x": 1500, "y": 0 },
        "note": "Insert (between modules 2 and 99): (3) Google Ads → Search [Customer ID = {{2.google_customer_id}}; Query = {{1.gaql_query}}]. (4) Numeric Aggregator [group by campaign.advertising_channel_type ; SUM clicks, cost_micros, conversions, conversions_value]. (5) Iterator over (4). (6) Set variables to map advertising_channel_type → display name (PERFORMANCE_MAX → 'Performance Max', SEARCH → 'Search', SHOPPING → 'Shopping', VIDEO → 'Video', DEMAND_GEN/DISCOVERY → 'Discovery', DISPLAY → 'Display'). (7) Array aggregator. Then replace REPLACE_WITH_ARRAY_AGGREGATOR_OUTPUT with {{7.array}}.",
        "expect": [{ "name": "url", "type": "url", "label": "URL", "required": true }]
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false,
      "slots": null
    },
    "designer": { "orphans": [] },
    "zone": "eu2.make.com",
    "notes": [
      {
        "moduleIds": [],
        "content": "<p>Phase 1 / Scenario 4: Google Ads by campaign type → POST /api/insights/google/campaign-type</p><p>Body row template (paste into the Array Aggregator's record builder):</p><pre>{\n  \"date\": \"{{1.yesterday}}\",\n  \"campaign_type\": \"{{6.display_name}}\",\n  \"clicks\": {{5.clicks}},\n  \"cost\": \"{{ 5.cost_micros / 1000000 }}\",\n  \"purchases\": {{ floor(5.conversions) }},\n  \"total_conv_value\": \"{{5.conversions_value}}\",\n  \"roas\": \"{{ 5.conversions_value / (5.cost_micros / 1000000) }}\"\n}</pre>",
        "isFilterNote": false,
        "metadata": { "color": "#FAEFD0" }
      }
    ]
  }
}
